version: '3.6'

services:
    db:
        image: mysql:5.7
        volumes:
          - ${DB}:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: Imola1610!
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpressAdmin
            MYSQL_PASSWORD: Hacky1610!
        networks:
            - wpsite
    phpmyadmin:
        depends_on:
          - db
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
          - '9000:80'
        environment:
          PMA_HOST: db
          MYSQL_ROOT_PASSWORD: Imola1610!
          UPLOAD_LIMIT: 3000000000
        networks:
          - wpsite
        volumes:
          - ./uploads.ini:/usr/local/etc/php/php.ini
    wordpress:
        image: wordpress:5.7
        depends_on:
            - db
        ports:
            - 80:80
        restart: always
        environment:
            WORDPRESS_DB_HOST: db:3306
            WORDPRESS_DB_USER: wordpressAdmin
            WORDPRESS_DB_PASSWORD: Hacky1610!
            WORDPRESS_CONFIG_EXTRA: |
                define( 'WP_DEBUG', true );
                define( 'WP_DEBUG_LOG', true );
                define( 'WP_DEBUG_DISPLAY', false );
        volumes:
            - ${PLUGINS}:/var/www/html/wp-content/plugins
            - ${THEME}:/var/www/html/wp-content/themes
            - ${UPLOADS}:/var/www/html/wp-content/uploads
            - ./uploads.ini:/var/www/html/php.ini
        networks:
            - wpsite
networks:
    wpsite:
volumes:
    data_db: