version: '3.6'

services:
    db:
        image: mysql:5.7
        volumes:
          - /mnt/HC_Volume_8257710/db:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: Imola1610!
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpressAdmin
            MYSQL_PASSWORD: Hacky1610!
        networks:
            - wpsite
    phpmyadmin:
        depends_on:
          - db
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
          - '9000:80'
        environment:
          PMA_HOST: db
          MYSQL_ROOT_PASSWORD: Imola1610!
        networks:
          - wpsite
        volumes:
          - ./uploads.ini:/usr/local/etc/php/conf.d/php-phpmyadmin.ini
    wordpress:
        image: wordpress:latest
        depends_on:
            - db
        ports:
            - 80:80
        restart: always
        environment:
            WORDPRESS_DB_HOST: db:3306
            WORDPRESS_DB_USER: wordpressAdmin
            WORDPRESS_DB_PASSWORD: Hacky1610!
        volumes:
            - /mnt/HC_Volume_8257710/wp/plugins:/var/www/html/wp-content/plugins
            - /mnt/HC_Volume_8257710/wp/themes:/var/www/html/wp-content/themes
            - /mnt/HC_Volume_8257710/wp/uploads:/var/www/html/wp-content/uploads
            - ./uploads.ini:/var/www/html/php.ini
        networks:
            - wpsite
networks:
    wpsite:
volumes:
    data_db: